<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand ml-xl-5" href="#">Recipe App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mr-xl-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li 
        class="nav-item"
        routerLinkActive="active">
        <a
          class="nav-link" 
          [routerLink]="['/recipes']">Recipe</a>
      </li>
      <li 
        class="nav-item"
        routerLinkActive="active">
        <a 
          class="nav-link" 
          [routerLink]="['shopping-list']">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li
        appDropdown
        #dropDownMarker="appDropdown"
        class="nav-item dropdown">
        <a class="nav-link dropdown-toggle dropdown-element" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
        <div
          [ngClass]="{'show':dropDownMarker.isShow}"
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown">
          <a class="dropdown-item dropdown-element">Save Data</a>
          <a class="dropdown-item dropdown-element">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>