<div class="row">
  <div class="col-xl-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid recipe-img">
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <div
      appDropdown
      #dropDownMarker="appDropdown"
      class="btn-group dropright">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <div
        [ngClass]="{'show':dropDownMarker.isShow}"
        class="dropdown-menu">
        <a 
          class="dropdown-item dropdown-element"
          (click)="onAddToShoppingList()">To Shopping list</a>
        <a 
          class="dropdown-item dropdown-element"
          (click)="onEditRecipe()">Edit recipe</a>
        <a 
          class="dropdown-item dropdown-element"
          (click)="onDeleteRecipe()">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <ul class="list-group">
      <li 
        class="list-group-item"
        *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>